body{
    margin: 0;
}

nav{
    background-color: #7fdbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu__link{
    text-decoration: none;
    color: black;
    font-family: "Arial";
    font-size: 22px;
    margin-bottom: 
    
}
.grid{
    display: grid;
    margin: 0 auto;
    grid-template-rows: 100px 100px 900px 100px ;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
}
header{
    margin: 0px;
    background-color: green;
}
footer{
    background-color: lavender;
}
main{
    background-color: blueviolet;
}