body{
    margin: 0;
    
}

nav{
    background-color: #7fdbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu__link{
    text-decoration: none;
    color: black;
    font-family: "Arial";
    
}
.menu__text{
    font-size: 24px;
     
}
.grid{
    display: grid;
    margin: 0 auto;
    grid-template-rows: 80px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
                         "nav"
                         "main"
                         "footer";
}
.menuContainer{
    margin: 0 auto;
}
.menuContainer_social{
    display: flex;
    margin: 0 auto;
}
footer{
    background-color: lavender;
    grid-area: footer;
    margin-top: 20px;
    
}
main{
    background-color: blueviolet;
    width: 960px;
    margin: 0 auto;
    grid-area: main;
    margin-top: 20px;
    
}


@media only screen and (max-width: 768px) {
    .grid{
        grid-template-rows: auto 100px;
        grid-template-columns: 90px auto;
        grid-template-areas: "nav main"
                             "footer footer";
    }
    nav{
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    
.menuContainer{
    margin: 0px auto;
    padding-top: 60px;
    margin-top: 35px;
}
.menuContainer_social{
    display: flex;
    align-items: flex-end;
    
}
    .menu__text{
    font-size: 18px;
     
}
   .menuContainer_social img  {
         height: 20px;
         width: 20px;
    }
    footer{
        margin: 0;
    }
    main{
        margin: 0;
    }
    
}