*{
    margin: 0;
    padding: 0;
}
#square{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}
body{
    overflow: hidden;
}
.footer{
    width: 300px;
    height: 30%;
    
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 35% auto;
    background:rgba(236, 240, 241, 0.5)
}
 .footer_container {
    background:rgba(236, 240, 241, 0.1);
     
     
}
.footer_container p{
    
}